/*1st grid layout*/

/*todo Flexbox Cheat Sheet (Containers)*/
/*main axis alignment*/

/*can align flex content along main axis w/ justify-content property*/
.containerA1 {
    /*center all in row*/
    display: flex;
    justify-content: center;
}

.containerA2 {
    /*move all to right/ end of row*/
    display: flex;
    justify-content: flex-end;
}

.containerA3 {
    /*evenly puts space around all col in row space @end*/
    display: flex;
    justify-content: space-around;
}

.containerA4 {
    /*evenly puts space between each col no space @end of row*/
    display: flex;
    justify-content: space-between;
}

/*todo cross axis alignment */

/*can align flex content along cross axis w/ align-items property*/
.containerB1 {
    /*centers col in row has items pushed left*/
    display: flex;
    align-items: center;
}

.containerB2 {
    /*starts at top of col*/
    display: flex;
    align-items: flex-start;
}

.containerB3 {
    /*starts at bottom of col*/
    display: flex;
    align-items: flex-end;
}

/*Perfect Center Alignment*/
.containerB4 {
    /*can combine selectors to get your desired layout. perfect centering
    is a breeze with flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*todo content flow direction*/
/*
can chng overall content flow direction (col or row), and you
can even chng arrangement of content. content flow will affect
how other flex properties are applied. w/ col or col-reverse,
the axes are swapped (see ex in this section)
*/
.containerC1 {
    /*stretch height of row pushed to end of row*/
    display: flex;
    flex-direction: row-reverse;
}

.containerC2 {
    /*stretches whole col length of row*/
    display: flex;
    flex-direction: column;
}

.containerC3 {
    /*aligns col at center of row stacked bottom-to-top*/
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

/*todo content wrapping*/
/*by default all items will stay on single line*/
.containerD1 {
    /*layouts cols but not bound to row*/
    display: flex;
}
.containerD2 {
    /*you can make content wrap from top-to-bottom or bottom-to-top*/
    display: flex;
    flex-wrap: wrap;
}

.containerD3 {
    display: flex;
    flex-wrap: wrap-reverse;
}

.containerD4 {
    /*default behavior
default behavior of flexbox will treat container as block
(full width), lft align items and stretch each items height
to fit the container*/
    display: flex;
    flex-direction: column;
}