#monday {
    color: blue;
}
#tuesday{
    color:green;
}
#wednesday{
    color:red;
}
#thursday{
    color:purple;
}
#friday{
    color:orange;
}
#saturday{
    color:teal;
}
#sunday{
    color:saddlebrown;
}