.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    padding: 10px;
}
.brdr{
    border: 1px solid green;
}
h2{
    text-align: center;
}

.loader{
    border: 10px solid #d9d9d9;
    border-top: 10px solid #ff3300;
    border-radius: 50%;
    margin: auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 16px solid #f2f2f2;
    margin: -76px 0 0 -76px;
    border-top: 16px solid #ff3300;
    animation: spin 2s linear infinite;
}
.loader1{
    border: 10px solid #d9d9d9; /* Light grey */
    border-top: 10px solid #ff3300; /* Blue */
    border-bottom: 10px solid #ff1a1a;/* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    aline-item:center;
}
.loader2{
    border: 10px solid #d9d9d9; /* Light grey */
    border-top: 10px solid #ffb3ff; /* Blue */
    border-bottom: 10px solid #1a1aff;/* Blue */
    border-left: 10px solid #ff6666;/* Blue */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;
}
.loader3{
    border: 10px solid #d9d9d9; /* Light grey */
    border-top: 10px solid #ff3300; /* Blue */
    border-left: 10px solid #ffb3ff;
    border-right: 10px solid #ff6666;
    border-bottom: 10px solid #1a1aff;/* Blue */
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#myDiv{
    display: none;
    text-align: center;
}

HTML, body{
    height:100%;
}